<!-- CREAR PRODUCTOS -->

<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs') %>
  <link href="css/formularios.css" rel="stylesheet">

</head>


<body>

    <header>

      <!-- atomización de la vista del header -->

      <%- include('../partials/header.ejs') %> <!-- recibe la ruta del archivo a incluir -->

    </header>

    <main>

      <h2>Crear curso</h2>

      <!-- FORMULARIO DEL CREATE -->

      <form action="/products/" method="POST" enctype="multipart/form-data" class="form">

        <label>Nombre del curso:</label>
        <input type = "text" name="title" class="title">

        <label>Descripcion:</label>
        <input type="text" name="parrafo" class="parrafo">

        <label>Imagen:</label>
        <input type="file" name="image" class="image" id="image">

        <label>Numero:</label>
        <input type="text" name="number" class="number">

        <label>Precio:</label>
        <input type="text" name="price" class="price">

        <button type="submit">Crear</button>

        <ul id="errores" class="text-danger">
        <% if(typeof(errors) != 'undefined'){%>
             <% errors.forEach(error => { %>
                <li><%= error.msg%></li>
             <%});%>
        <%}%>  
       </ul>

      </form>
    </main>

  <footer>

     <!-- atomización de la vista del footer -->

    <%- include('../partials/footer.ejs') %> <!-- recibe la ruta del archivo a incluir -->
    
  </footer>

  <script src="/js/create.js"> </script>
</body>
</html>
        
        