<footer>

    <div class="mis-estudiantes">
        <h2>¿QUÉ DICEN MIS ESTUDIANTES?</h2>
    </div>

    <section class="alumnos">
      

      <div class="tres-alumno">
            <p class="frase-alumno"> Fui alumno de Gustavo en el Diplomado de Gestión de proyectos y puedo decir que no solo es un caudal de conocimientos, sino también un hombre realmente inspirador y magistral.
            </p>

           <p class="personas"> D. Avendaño</p>
     </div>


     <div class="tres-alumno">
            <p class="frase-alumno"> Su forma catedrática y amena de transmitir la información hacen de Gustavo de los mejores y más valiosos recuerdos de mi formación estudiantil
           </p>
     

      <p class="persona"> C. D. Moreno</p>
     </div>


     <div class="tres-alumno">
          <p class="frase-alumno"> Lo que más gusta de Gustavo es su forma de enseñar, su paciencia y gusto por la Gestión de Proyectos. Más allá de los conocimientos técnicos me llevo aprendizajes que puedo aplicar todos los días de mi vida.
          </p>

          <p class="persona"> J. Lopez</p>
     </div>


  </section>


                 <h2>MIS CLIENTES</h2>
      <p class="colaboraciones">Algunas de las colaboraciones importantes</p>
      <div>
          <img src="/img/Collage.png" alt="empresas img" width="100%">
          
      </div>

  </footer>