<header>

    <div class="encabezado">
    
    <a href='/'><img src="/img/22-06-30 Logo No PMI.png" alt="logo" width="100%" class="logo"></a>
    

<nav class="header-nav">
    <ul id="header-menu " class="flex-centrado-rutas">
        <li class="header-menu-item"><a href="/products/" class="header-menu-link"><i class="fa-solid fa-route"></i> Ruta y Cursos</a></li>
        <li class="header-menu-item"><a href="/sobreMi" class="header-menu-link"><i class="fa-solid fa-book"></i> Sobre Mi</a></li>
        <li class="header-menu-item"><a href="/contacto" class="header-menu-link"><i class="fa-solid fa-phone-volume"></i> Contacto </a></li>
        <li class="header-menu-item"><a href="/inscripcion" class="header-menu-link"><i class="fa-solid fa-pencil"></i> inscripción</a></li>
        <li class="header-menu-item"><a href="/user/register" class="header-menu-link"><i class="fa-solid fa-user"></i> Crea Tu Cuenta</a></li>
        <li class="header-menu-item"><a href="/user/login" class="header-menu-link"><i class="fa-solid fa-arrow-right-to-bracket"></i> Ingresa</a></li>
        <li class="header-menu-item"><a href="/productCar" class="header-menu-link"><i class="fa-solid fa-basket-shopping"></i> Mis Compras</a></li>
    </ul>
</nav>
</div>

<div id="toggle-menu" class="toggle-menu">    
    <i class="fas fa-bars burger-menu"></i>
</div>        

<div class="banner">
    <img src="/img/Imagen Banner.jpg" alt="banner" width="100%">
</div>

</header>