<!-- HOME -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion De Proyectos</title>

    <script src="https://kit.fontawesome.com/559ec15c26.js" crossorigin="anonymous"></script>

    <script src="js/app.js"></script>  <!-- Esto no se está ejecutando -->

    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>


<body>

    <header>

        <div class="encabezado">
        
        <a href='/'><img src="/img/22-06-30 Logo No PMI.png" alt="logo" width="100%" class="logo"></a>
        

    <nav class="header-nav">
        <ul id="header-menu " class="flex-centrado-rutas">
            <li class="header-menu-item"><a href="/productDetail" class="header-menu-link"><i class="fa-solid fa-route"></i> Ruta y Cursos</a></li>
            <li class="header-menu-item"><a href="" class="header-menu-link"><i class="fa-solid fa-book"></i> Sobre Mi</a></li>
            <li class="header-menu-item"><a href="/contacto" class="header-menu-link"><i class="fa-solid fa-phone-volume"></i> Contacto </a></li>
            <li class="header-menu-item"><a href="/inscripcion" class="header-menu-link"><i class="fa-solid fa-pencil"></i> inscripción</a></li>
            <li class="header-menu-item"><a href="/register" class="header-menu-link"><i class="fa-solid fa-user"></i> Crea Tu Cuenta</a></li>
            <li class="header-menu-item"><a href="/login" class="header-menu-link"><i class="fa-solid fa-arrow-right-to-bracket"></i> Ingresa</a></li>
            <li class="header-menu-item"><a href="/productCar" class="header-menu-link"><i class="fa-solid fa-basket-shopping"></i> Mis Compras</a></li>
        </ul>
    </nav>
    </div>

    <div id="toggle-menu" class="toggle-menu">    
        <i class="fas fa-bars burger-menu"></i>
    </div>        

    <div class="banner">
        <img src="/img/Imagen Banner.jpg" alt="banner" width="100%">
    </div>

    </header>

    <main>
        <article class="aprende-y-articulo">

            
            <div class="titulo-aprende">
            <h2 class="aprende-sin-limites">APRENDE SIN LIMITES</h2>
            

            <P class="parrafo">Comienza, transforma o impulsa tu carrera profesional con más de 5000 cursos, certificados profesionales y títulos de grado de universidades y empresas de nivel mundial.</P>
           
            <nav>
                <ul class="centrado-gratis-descuento">
                    <li><a href="/register"><p class="unite-gratis"> Unete De Forma Gratuita</p></a></li>
                    <li><a href=""><p class="descuentos">Consulta Por Tus Descuentos</p></a></li>
                </ul>
                
            </nav>
            </div>

            <div class="foto-articulo">
                 <img src="/img/15-05-22 Gerenciarte 02.jpg" alt="foto" width="100%">
            </div>

        </article>


        <section>

        <div class="ruta-de-cursos">
            <h2>Ruta De Cursos</h2>
        </div>

        <article class="cursos">
            
            <div class="imgRuta">
                <a href='/productDetail'><img src="/img/Ruta.jpg" alt="curso foto" width="100%"></a>
            </div>
            
         <div>
            <a class="VER-CURSOS" href="/productDetail">Ver Cursos</a>
        </div>
        </article>    

        </section>

    </main>

    <div class="mis-estudiantes">
        <h2>¿QUÉ DICEN MIS ESTUDIANTES?</h2>
    </div>

    <footer>

      <section class="alumnos">
        

        <div class="tres-alumno">
              <p class="frase-alumno"> Fui alumno de Gustavo en el Diplomado de Gestión de proyectos y puedo decir que no solo es un caudal de conocimientos, sino también un hombre realmente inspirador y magistral.
              </p>

             <p class="personas"> D. Avendaño</p>
       </div>


       <div class="tres-alumno">
              <p class="frase-alumno"> Su forma catedrática y amena de transmitir la información hacen de Gustavo de los mejores y más valiosos recuerdos de mi formación estudiantil
             </p>
       

        <p class="persona"> C. D. Moreno</p>
       </div>


       <div class="tres-alumno">
            <p class="frase-alumno"> Lo que más gusta de Gustavo es su forma de enseñar, su paciencia y gusto por la Gestión de Proyectos. Más allá de los conocimientos técnicos me llevo aprendizajes que puedo aplicar todos los días de mi vida.
            </p>

            <p class="persona"> J. Lopez</p>
       </div>


    </section>


                   <h2>MIS CLIENTES</h2>
        <p class="colaboraciones">Algunas de las colaboraciones importantes</p>
        <div>
            <img src="/img/Collage.png" alt="empresas img" width="100%">
            
        </div>

    </footer>
</body>
</html>

