<!-- HOME -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion De Proyectos</title>

    <script src="https://kit.fontawesome.com/559ec15c26.js" crossorigin="anonymous"></script>

    <link href="css/index.css" rel="stylesheet">
</head>


<body>

    <header>
        <div class="logo">
            <a href='/'><img src="/img/22-06-30 Logo No PMI.png" alt="logo" width="5%"></a>
        </div>

    <nav>
        <ul class="flex-centrado-rutas">
            <li><a href=""> Ruta y Cursos</a></li>
            <li><a href=""> Sobre Mi</a></li>
            <li><a href="/contacto"> Contacto </a></li>
            <li><a href="/register"><i class="fa-solid fa-user"></i> Crea Tu Cuenta</a></li>
            <li><a href="/login"> Ingresa</a></li>
            <li><a href=""> Carrito De Compras</a></li>
        </ul>

    </nav>

    <div class="icono_centrar">    
        <i class="fas fa-bars burger-menu"></i>
    </div>        

    <div class="banner">
        <img src="/img/Imagen Banner.jpg" alt="banner" width="100%">
    </div>

    </header>

    <main>
        <article>

            <div>
            <h4>APRENDE SIN LIMITES</h4>

            <P class="parrafo">Comienza, transforma o impulsa tu carrera profesional con más de 5000 cursos, certificados profesionales y títulos de grado de universidades y empresas de nivel mundial.</P>
           
            <nav>
                <ul class="centrado-gratis-descuento">
                    <li><a href=""><p class="unite-gratis"> Unete De Forma Gratuita</p></a></li>
                    <li><a href=""><p class="descuentos">Consulta Por Tus Descuentos</p></a></li>
                </ul>
                
            </nav>
            </div>

            <div class="foto-articulo">
                 <img src="/img/Fasimon.png" alt="foto" width="100%">
            </div>

        </article>

        <p>Colaboramos con mas de 50 empresas lideres en el mercado</p>
        <div>
            <img src="/img/ACO.png" alt="empresas img" width="5%">
            <img src="/img/cerrejon-logo.png" alt="empresas img" width="5%">
            <img src="/img/collage.png" alt="empresas img" width="5%">
            <img src="/img/Eafit.png" alt="empresas img" width="5%">
            <img src="/img/Fasimon.png" alt="empresas img" width="5%">
            <img src="/img/Glasst.png" alt="empresas img" width="5%">
            <img src="/img/Logo Alquería.png" alt="empresas img" width="5%">
            <img src="/img/Logo Area.png" alt="empresas img" width="5%">
            <img src="/img/Logo Argos.jpg" alt="empresas img" width="5%">
            <img src="/img/Logo CCM.jpg" alt="empresas img" width="5%">
            <img src="/img/logo eglassco.png" alt="empresas img" width="5%">
            <img src="/img/Logo MUMA.png" alt="empresas img" width="5%">
        </div>

        <section class="secciones">
            <h2>Cursos Para Principiantes</h2>

        <article class="cursos" class="cursos">
            <img src="/" alt="curso foto" width="100%">>
            <h4>TITULO DEL PRODUCTO</h4>
            <p>Descripcion</p>

            <a href=""> VER MAS</a>
        </article>    




        <article class="cursos">
            <img src="/" alt="curso foto" width="100%">>
            <h4>TITULO DEL PRODUCTO</h4>
            <p>Descripcion</p>

            <a href=""> VER MAS</a>
        </article >        




        <article article class="cursos">
            <img src="/" alt="curso foto" width="100%">>
            <h4>TITULO DEL PRODUCTO</h4>
            <p>Descripcion</p>

            <a href=""> VER MAS</a>
        </article >    




        <article class="cursos">
            <img src="/" alt="curso foto" width="100%">>
            <h4>TITULO DEL PRODUCTO</h4>
            <p>Descripcion</p>

            <a href=""> VER MAS</a>
        </article>    




        <article  class="cursos">
            <img src="/" alt="curso foto" width="100%">>
            <h4>TITULO DEL PRODUCTO</h4>
            <p>Descripcion</p>

            <a href=""> VER MAS</a>
        </article >    




        <article  class="cursos">
            <img src="/" alt="curso foto" width="100%">>
            <h4>TITULO DEL PRODUCTO</h4>
            <p>Descripcion</p>

            <a href=""> VER MAS</a>
        </article>    

    

        </section>


        <section class="secciones">
            <h2>Cursos Avanzados</h2>

            <article class="cursos">
                <img src="/" alt="curso foto" width="100%">>
                <h4>TITULO DEL PRODUCTO</h4>
                <p>Descripcion</p>
    
                <a href=""> VER MAS</a>
            </article>    




            <article class="cursos">
                <img src="/" alt="curso foto" width="100%">>
                <h4>TITULO DEL PRODUCTO</h4>
                <p>Descripcion</p>
    
                <a href=""> VER MAS</a>
            </article>    




            <article class="cursos">
                <img src="/" alt="curso foto" width="100%">>
                <h4>TITULO DEL PRODUCTO</h4>
                <p>Descripcion</p>
    
                <a href=""> VER MAS</a>
            </article>    




            <article class="cursos">
                <img src="/" alt="curso foto" width="100%">>
                <h4>TITULO DEL PRODUCTO</h4>
                <p>Descripcion</p>
    
                <a href=""> VER MAS</a>
            </article>    




            <article class="cursos">
                <img src="/" alt="curso foto" width="100%">>
                <h4>TITULO DEL PRODUCTO</h4>
                <p>Descripcion</p>
    
                <a href=""> VER MAS</a>
            </article>    





            <article class="cursos">
            <img src="/" alt="curso foto" width="100%">>
            <h4>TITULO DEL PRODUCTO</h4>
            <p>Descripcion</p>

            <a href=""> VER MAS</a>
        </article>    

        </section>

    </main>

    <h1>¿QUÉ DICEN MIS ESTUDIANTES?</h1>

    <footer>


        <p> Fui alumno de Gustavo en el Diplomado de Gestión de proyectos y puedo decir que no solo es un caudal de conocimientos, sino también un hombre realmente inspirador y magistral.  D. Avendaño

        </p>



        <p> Fui alumno de Gustavo en el Diplomado de Gestión de proyectos y puedo decir que no solo es un caudal de conocimientos, sino también un hombre realmente inspirador y magistral.  D. Avendaño

        </p>



        <p> Fui alumno de Gustavo en el Diplomado de Gestión de proyectos y puedo decir que no solo es un caudal de conocimientos, sino también un hombre realmente inspirador y magistral.  D. Avendaño

        </p>

    </footer>
</body>
</html>

