<!-- FORMULARIO DE LOGIN -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion De Proyectos</title>

    <script src="https://kit.fontawesome.com/559ec15c26.js" crossorigin="anonymous"></script>

    <link href="css/index.css" rel="stylesheet">
</head>


<body>

    <header>
                <div class="logo">
                    <a href='/'><img src="/img/22-06-30 Logo No PMI.png" alt="logo" width="5%"></a>
                </div>

    <nav>
        <ul class="flex-centrado-rutas">
            <li><a href=""> Ruta y Cursos</a></li>
            <li><a href=""> Sobre Mi</a></li>
            <li><a href=""> Contacto </a></li>
            <li><a href=""><i class="fa-solid fa-user"></i> Crea Tu Cuenta</a></li>
            <li><a href=""> Ingresa</a></li>
            <li><a href=""> Carrito De Compras</a></li>
        </ul>

    </nav>

    <div class="icono_centrar">    
        <i class="fas fa-bars burger-menu"></i>
    </div>        

    <div class="banner">
        <img src="/img/Imagen Banner.jpg" alt="banner" width="100%">
    </div>

    </header>

    <main>


    </main>

    <h1>¿QUÉ DICEN MIS ESTUDIANTES?</h1>

    <footer>


        <p> Fui alumno de Gustavo en el Diplomado de Gestión de proyectos y puedo decir que no solo es un caudal de conocimientos, sino también un hombre realmente inspirador y magistral.  D. Avendaño

        </p>



        <p> Fui alumno de Gustavo en el Diplomado de Gestión de proyectos y puedo decir que no solo es un caudal de conocimientos, sino también un hombre realmente inspirador y magistral.  D. Avendaño

        </p>



        <p> Fui alumno de Gustavo en el Diplomado de Gestión de proyectos y puedo decir que no solo es un caudal de conocimientos, sino también un hombre realmente inspirador y magistral.  D. Avendaño

        </p>

    </footer>
</body>
</html>