<!-- FORMULARIO DE LOGIN -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion De Proyectos</title>

    <script src="https://kit.fontawesome.com/559ec15c26.js" crossorigin="anonymous"></script>

    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/formularios.css" rel="stylesheet">
</head>


<body>

    <header>
        <div class="logo">
            <a href='/'><img src="/img/22-06-30 Logo No PMI.png" alt="logo" width="5%"></a>
        </div>

    <nav>
        <ul class="flex-centrado-rutas">
            <li><a href="/productDetail"> Ruta y Cursos</a></li>
            <li><a href=""> Sobre Mi</a></li>
            <li><a href="/contacto"> Contacto </a></li>
            <li><a href="/register"><i class="fa-solid fa-user"></i> Crea Tu Cuenta</a></li>
            <li><a href="/login"> Ingresa</a></li>
            <li><a href="/productCar"> Carrito De Compras</a></li>
        </ul>

    </nav>

    <div class="icono_centrar">    
        <i class="fas fa-bars burger-menu"></i>
    </div>        

    <div class="banner">
        <img src="/img/Imagen Banner.jpg" alt="banner" width="100%">
    </div>

    </header>
    
    <main>

        <!-- FORMULARIO DE LOGIN -->
        <form action="/login" method="POST">
            <!-- <form action="/" method="GET"> -->

            <h2>Ingresa</h2>

            <!-- EMAIL -->
            <div>
                <label for="email" class="etiqueta">Email: </label>
                <input type = "email" name="email" id="email" placeholder="usuario@abc.com" required class="campo-de-texto">
                <span class="feedback"></span> <!-- para alertar errores -->
            </div>

            <!-- CONTRASEÑA -->
            <div>
                <label class="etiqueta"> Contraseña: </label>
                <input type = "password" name = "password" placeholder="Ingresa tu contraseña" required class="campo-de-texto">
                <span class="feedback"></span> 
            </div>

            <!-- CHECKBOX RECORDAR MIS DATOS -->

            <label><input type="checkbox" name="recordar-datos" value="recordar-datos"> Recordar mis datos</label>
            
            <!-- BOTON BORRAR -->
            <button type="reset">Borrar</button>

            <!-- BOTON ENVIAR -->
            <button type="submit">Enviar</button>
            
            <!-- <button type="submit" value="Enviar" name="submit">Enviar</button> -->


        
        </form>


    </main>

    <div class="mis-estudiantes">
        <h2>¿QUÉ DICEN MIS ESTUDIANTES?</h2>
    </div>

    <footer>

      <section class="alumnos">
        

        <div class="tres-alumno">
              <p class="frase-alumno"> Fui alumno de Gustavo en el Diplomado de Gestión de proyectos y puedo decir que no solo es un caudal de conocimientos, sino también un hombre realmente inspirador y magistral.
              </p>

             <p class="personas"> D. Avendaño</p>
       </div>


       <div class="tres-alumno">
              <p class="frase-alumno"> Su forma catedrática y amena de transmitir la información hacen de Gustavo de los mejores y más valiosos recuerdos de mi formación estudiantil
             </p>
       

        <p class="persona"> C. D. Moreno</p>
       </div>


       <div class="tres-alumno">
            <p class="frase-alumno"> Lo que más gusta de Gustavo es su forma de enseñar, su paciencia y gusto por la Gestión de Proyectos. Más allá de los conocimientos técnicos me llevo aprendizajes que puedo aplicar todos los días de mi vida.
            </p>

            <p class="persona"> J. Lopez</p>
       </div>


    </section>


                   <h2>MIS CLIENTES</h2>
        <p class="colaboraciones">Algunas de las colaboraciones importantes</p>
        <div>
            <img src="/img/Collage.png" alt="empresas img" width="100%">
            
        </div>

    </footer>
</body>
</html>

