<!-- CARRITO DE COMPRAS -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion De Proyectos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/559ec15c26.js" crossorigin="anonymous"></script>

    <link href="css/productCar.css" rel="stylesheet">
</head>


<body>

    <header>

        <div class="encabezado">
        
        <a href='/'><img src="/img/22-06-30 Logo No PMI.png" alt="logo" width="100%" class="logo"></a>
        

    <nav class="header-nav">
        <ul id="header-menu " class="flex-centrado-rutas">
            <li class="header-menu-item"><a href="/productDetail" class="header-menu-link"><i class="fa-solid fa-route"></i> Ruta y Cursos</a></li>
            <li class="header-menu-item"><a href="" class="header-menu-link"><i class="fa-solid fa-book"></i> Sobre Mi</a></li>
            <li class="header-menu-item"><a href="/contacto" class="header-menu-link"><i class="fa-solid fa-phone-volume"></i> Contacto </a></li>
            <li class="header-menu-item"><a href="/inscription" class="header-menu-link"><i class="fa-solid fa-pencil"></i> inscripción</a></li>
            <li class="header-menu-item"><a href="/register" class="header-menu-link"><i class="fa-solid fa-user"></i> Crea Tu Cuenta</a></li>
            <li class="header-menu-item"><a href="/login" class="header-menu-link"><i class="fa-solid fa-arrow-right-to-bracket"></i> Ingresa</a></li>
            <li class="header-menu-item"><a href="/productCar" class="header-menu-link"><i class="fa-solid fa-basket-shopping"></i> Mis Compras</a></li>
        </ul>
    </nav>
    </div>

    <div id="toggle-menu" class="toggle-menu">    
        <i class="fas fa-bars burger-menu"></i>
    </div>        

    <div class="banner">
        <img src="/img/Imagen Banner.jpg" alt="banner" width="100%">
    </div>

    </header>

                      </div>
                          <div class="propiedades-container">
                            <div class="propiedad-container">
                                    <h3 class = "numero">00</h3> <!-- curso0.html (/curso0) -->
                                    <h3 class = "titulo">Herramientas para análisis de Datos con Excel</h3>
                            </div>
                            <div class="propiedad-container">
                              <p class="propiedad">Inversion:</p>
                              <p>320.000</p>
                              <p>20% de descuento por comprar los cuatro cursos siguientes.</p>
                            </div>
                            </div>
                            </div>
                            <button type="button" class="buy-item">Comprar</button>
                          </div>
                       
                          </div>
                          <div class="propiedades-container">
                            <div class="propiedad-container">
                                <h3 class = "numero">01</h3> <!-- curso1.html (/curso1) -->
                                <h3 class = "titulo">Herramientas avanzadas de EXCEL para la Elaboración de Cronogramas en Proyectos Ágiles y Prescriptivos</h3>
                            </div>
                            <div class="propiedad-container">
                                <p class="propiedad">Inversion:</p>
                                <p>320.000</p>
                                <p>20% de descuento por comprar los cuatro cursos siguientes.</p>
                              </div>
                              </div>
                              <button type="button" class="buy-item">Comprar</button>
                            </div>
                           

                      </article>
                          <div class="propiedades-container">
                            <div class="propiedad-container">
                                <h3 class = "numero">02</h3> <!-- curso2.html (/curso2) -->
                                <h3 class = "titulo">Elaboración y Gestión de Presupuestos con Herramientas Avanzadas de EXCEL</h3>
                            </div>
                            <div class="propiedad-container">
                                <p class="propiedad">Inversion:</p>
                                <p>320.000</p>
                                <p>20% de descuento por comprar los cuatro cursos siguientes.</p>
                              </div>
                              </div>
                              <button type="button" class="buy-item">Comprar</button>
                            </div>

                            
                        </article>
                       
                          <div class="propiedades-container">
                            <div>
                                <h3 class = "numero">03</h3> <!-- curso3.html (/curso3)-->
                                <h3 class = "titulo">Herramientas para la Priorización y Clasificación de Alternativas y Proyectos</h3>
                            </div>
                            <div class="propiedad-container">
                                <p class="propiedad">Inversion:</p>
                                <p>320.000</p>
                                <p>20% de descuento por comprar los cuatro cursos siguientes.</p>
                              </div>
                              </div>
                              <button type="button" class="buy-item">Comprar</button>
                            </div>


                        </article>
                       
                          <div class="propiedades-container">
                            <div>
                                <div>
                        <h3 class = "numero">04</h3> <!-- curso4.html (/curso4)-->
                        <h3 class = "titulo">Elaboración de Tableros de Seguimiento "Dashboards" y Control del Proyecto con POWER BI</h3>
                    </div>
                            <div class="propiedad-container">
                                <p class="propiedad">Inversion:</p>
                                <p>320.000</p>
                                <p>20% de descuento por comprar los cuatro cursos siguientes.</p>
                              </div>
                              </div>
                              <button type="button" class="buy-item">Comprar</button>
                            </div>


                        </article>
                      </div>
                    </section>
                    <section id="total-kart">
                      <h3>Total del carrito</h3>
                      <div class="details-container">
                        <p>Subtotal</p>
                        <span>$$$</span>
                      </div>
                      <div class="details-container">
                        <p>Envío</p>
                        <span>$$$</span>
                      </div>
                      <div class="details-container">
                        <p>Total</p>
                        <span>$$$</span>
                      </div>
                      <button type="button" id="finaliza-button">Finalizar compra</button>
                    </section>
                  </main>
                  <footer>
                    
                    <section class="footer-list" id="footer-categories">
                      <h3>Metodos de pago </h3>
                      <ul>
                        <li>
                          <a href="/">paypal</a>
                        </li>
                        <li>
                          <a href="/">Transferencia </a>
                        </li>
                        </li>
                      </ul>
                    </section>
                    <section class="footer-list" id="footer-contact">
                      <h3>Contacto</h3>
                      <ul>
                        <li>
                          <i class="fa-sharp fa-solid fa-phone"></i>
                          <a href="Hablemos">(+57) 3017875412</a>
                        </li>
                        <li>
                          <i class="fa-sharp fa-solid fa-envelope"></i>
                          <a href="mailto:gcanasm@gmail.com">gcanasm@gmail.com</a>
                        </li>
                        <li>
                          <i class="fa-sharp fa-solid fa-location-dot"></i>
                          <a href="/">Medellin - Colombia </Canvas></a>
                        </li>
                      </ul>
                    </section>
                    <section class="footer-list" id="footer-social">
                      <h3>Redes sociales</h3>
                      <ul>
                        <li>
                          <i class="fa-sharp fa-solid fa-at"></i>
                          <a href="/">https://www.linkedin.com/in/gcanasm</a>
                          
                        </li>
                      </ul>
                    </section>
                  </footer>
                </body>
              </html>
        
        