<!-- DETALLE DEL PRODUCTO -->
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/559ec15c26.js" crossorigin="anonymous"></script>
    <link href="css/productDetail.css" rel="stylesheet">

    <title>Gestión de Proyectos GCM</title>
</head>
<body>

    <header>
                <div class="logo">
                    <img src="/img/22-06-30 Logo No PMI.png" alt="logo" width="5%">
                </div>

    <nav>
        <ul class="flex-centrado-rutas navegacion">
            <li><a href="/productDetail"> Ruta y Cursos</a></li>
            <li><a href=""> Sobre Mi</a></li>
            <li><a href="/contacto"> Contacto </a></li>
            <li><a href="/register"><i class="fa-solid fa-user"></i> Crea Tu Cuenta</a></li>
            <li><a href="/login"> Ingresa</a></li>
            <li><a href="/productCar"><i class="fa-solid fa-cart-shopping"></i>Carrito De Compras</a></li>
            <li><a href="/inscription"><i class =""></i>Inscripción</a></li>
        </ul>
    </nav>

    <div class="icono_centrar">    
        <i class="fas fa-bars burger-menu"></i>
    </div>        

    <div class="banner">
        <img src="/img/Imagen Banner.jpg" alt="banner" width="100%">
    </div>

    </header>


<!-- MAIN -->

    <main>

        <h2>RUTA DE APRENDIZAJE</h2> <!-- RUTA -->

            <h3 class = "h3-de-la-ruta">Gestión de Proyectos Ágiles y Prescripctivos, potencializada con Funciones Avanzadas de EXCEL</h3>
                <p>Esta Ruta muestra los cursos asociados que te permitirán perfeccionarte en herramientas avanzadas para la gestión de proyectos ágiles</p>
            
            <section>

                <div class = "contenedor-ruta-del-curso">

                <article class = "ruta-del-curso">

                    <img src="/img/Ruta.jpg" alt="" width="100%">
                    <div class = "parrafo-de-la-ruta">
                    <p>Podrás tomar cualquiera de los cursos de la ruta, o, si deseas sacar el mayor provecho, podrás tomarlos en orden. De esta manera, garantizarás una cobertura más amplia en los conocimientos de las herramientas claves para la gestión de proyectos ágiles.</p>
                    </div>
                </article>

                </div>

            <section class = "contenedor-cursos-de-la-ruta">

                <article class = "cursos-de-la-ruta">
                    <img src="/img/Slide03 (Large).PNG" alt="" width="100%"> <!-- IMAGEN CON LOS CURSOS QUE OFRECE EL SITIO -->
                </article>

            </section>

            <section>

                <!-- DESCRIPCIÓN DETALLADA DE LOS CURSOS -->

                <h2>CURSOS DE LA RUTA</h2> <!-- CURSOS QUE OFRECE EL SITIO -->

                <div class = cursos>

                <article class = "curso">
                    <div>
                        <h3 class = "numero">00</h3> <!-- curso0.html (/curso0) -->
                        <!-- <a href="/curso0"> --><h3 class = "titulo">Herramientas para análisis de Datos con Excel</h3><!-- </a> -->
                    </div>
                    <div class = "llevar-al-carrito"><a href="/productCar"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>
                    <div class = "descripcion">
                        <p>Obtendrá los conocimientos básicos de las principales herramientas de análisis de datos, necesarios para</p> 
                        <p>continuar con la Ruta de Gestión de Proyectos potencializada con herramientas avanzadas de Excel.</p>
                    </div>
                </article>

                <article class = "curso">
                    <div>
                        <h3 class = "numero">01</h3> <!-- curso1.html (/curso1) -->
                        <h3 class = "titulo">Herramientas avanzadas de EXCEL para la Elaboración de Cronogramas en Proyectos Ágiles y Prescriptivos</h3>
                    </div>
                    <div class = "llevar-al-carrito"><a href="/productCar"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>
                    <div class = "descripcion">
                        <p>Aprenderás las herramientas que permitirán optimizar el cronograma de los proyectos, para que tu</p>
                        <p>equipo se convierta en uno de alto desempeño.</p>
                    </div>
                </article>

                <article class = "curso">
                    <div>
                            <h3 class = "numero">02</h3> <!-- curso2.html (/curso2) -->
                            <h3 class = "titulo">Elaboración y Gestión de Presupuestos con Herramientas Avanzadas de EXCEL</h3>
                    </div>
                    <div class = "llevar-al-carrito"><a href="/productCar"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>

                    <div class = "descripcion">
                            <p>Una estimación más precisa del presupuesto del proyecto te permitirá disminuir la desviación futura y</p>
                            <p>asegurar el beneficio económico del proyecto y de tu compañía. Esto será posible gracias al uso del</p>
                            <p>Power Query y Power Pivot de Excel.</p>
                    </div>
                </article>

                <article class = "curso">
                    <div>
                        <h3 class = "numero">03</h3> <!-- curso3.html (/curso3)-->
                        <h3 class = "titulo">Herramientas para la Priorización y Clasificación de Alternativas y Proyectos</h3>
                    </div>
                    <div class = "llevar-al-carrito"><a href="/productCar"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>
                        <div class = "descripcion">
                        <p>Los líderes y equipos de los proyectos están limitados por las restricciones del proyecto y es necesario</p> 
                        <p>realizar un uso racional de los recursos. Eto será posible gracias a las técnicas de clasificación,</p>
                        <p>priorización y análisis desarrolladas con la ayuda del Excel.</p>
                        </div>
                    </article>

                <article class = "curso">
                    <div>
                        <h3 class = "numero">04</h3> <!-- curso4.html (/curso4)-->
                        <h3 class = "titulo">Elaboración de Tableros de Seguimiento "Dashboards" y Control del Proyecto con POWER BI</h3>
                    </div>
                        <div class = "llevar-al-carrito"><a href="/productCar"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>
                        <div class = "descripcion">
                        <p>Los Dashboards y tableros de control te permitirán visualizar los indicadores claves que están conectados</p>
                        <p>con el mapa estatrégico del proyecto y tomar decisiones acertadas a tiempo para ordenar y controlar la</p>
                        <p>gestión del proyecto.</p>
                        </div>
                </article>
            </div>
            </section>

            <div class = "botones-del-form">

            <!-- REDIRIGUE A CONTACTO -->
            <form action="/" method="POST">
                <label for="Estoy interesado">
                    <a href="/inscription"><input type="submit" value="Estoy interesado"></a>
                </label>
            </form>

            <!-- REDIRIGUE A LLENAR FORMULARIO PARA CONOCIMIENTO DEL EXCEL -->

            <!--
            <form action="" method="POST">
                <label for="Quiero saber si estos cursos son para mi">
                    <input type="submit" value="Quiero saber si estos cursos son para mi">
                </label>
            </form>
            -->

            <!-- REDIRIGUE A LLENAR FORMULARIO PARA INSCRIBIRSE A LOS CURSOS (INSCRIPCION) -->
            <form action="/Inscripcion" method="POST">
                <label for="Inscripción">
                    <a href="/inscription"><input type="submit" value="Inscripción"></a>
                </label>
            </form> 
            
            </div>
    </main>
    
    <!-- /MAIN -->
    <h1>¿QUÉ DICEN MIS ESTUDIANTES?</h1>
    <footer>

        <section class="alumnos">
          
  
          <div class="tres-alumno">
                <p class="frase-alumno"> Fui alumno de Gustavo en el Diplomado de Gestión de proyectos y puedo decir que no solo es un caudal de conocimientos, sino también un hombre realmente inspirador y magistral.
                </p>
  
               <p class="personas"> D. Avendaño</p>
         </div>
  
  
         <div class="tres-alumno">
                <p class="frase-alumno"> Su forma catedrática y amena de transmitir la información hacen de Gustavo de los mejores y más valiosos recuerdos de mi formación estudiantil
               </p>
         
  
          <p class="persona"> C. D. Moreno</p>
         </div>
  
  
         <div class="tres-alumno">
              <p class="frase-alumno"> Lo que más gusta de Gustavo es su forma de enseñar, su paciencia y gusto por la Gestión de Proyectos. Más allá de los conocimientos técnicos me llevo aprendizajes que puedo aplicar todos los días de mi vida.
              </p>
  
              <p class="persona"> J. Lopez</p>
         </div>
  
  
      </section>
  
  
                     <h2>MIS CLIENTES</h2>
          <p>Algunas de las colaboraciones importantes</p>
          <div>
              <img src="/img/Collage.png" alt="empresas img" width="100%">
              
          </div>
  
      </footer>
</body>
</html>
