/* REGISTER STYLES */ 

* {
    box-sizing: border-box;
}

/* body */

    /* main */

        form {
            margin: 10px;
        }

        form div {
            font-size: 14px;
            display: block;
            padding: 5px;
        }

        .etiqueta {
            display: block;
            padding: 5px;
            margin: 5px;
            font-weight: bold ;
        }

        .campo-de-texto {
            width: 100%;
            margin: 5px;
            padding: 5px;
        }

        .radio-button{
            width: 100%;
            margin: 5px;
            padding: 5px;
        }

        .checkboxes {
            font-weight: lighter;
        }

        .checkboxes label {
            /* background-color: gray; */
            margin: 10px;
            display: block;
        }

        /* .cat-interes {
            background-color: blueviolet;
        } */

        form button {
            margin: 12px;
            background-color: #193669;
            color: white;
            border: 0px;
            padding: 8px;
            font-size: 14px;
            border-radius: 3px;
            transition: all 450ms;

        }

        form button:hover {
            background-color: #b458c7;

        }

        main {
            margin: 50px;
        }

        h2 {
            margin: 20px;
            font-size: 20px;
        }

        label {
            display:block;
            padding: 10px;
        }

        .text-danger{
            color: red;
            width: 200px;
            font-size: 1.7 rem;
            padding: 3 rem;
            position: relative;       
        }
        
    /* /main */