* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    padding: 10px;
    font-size: 12px;
    background-color: #FFFFFF;
}

/* headeer */

.logo {
    margin-left: 15px;
    margin-top: 5px;
    width: 850px;
}

.flex-centrado-rutas {
    display: flex;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 80px;
    margin-top: -30px;
    margin-bottom: 30px;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

/* BURGER MENU */
.icono_centrar {
    text-align: center;
}
ul li {
    justify-content: center;
    padding: 2vw;
    font-size: 1.5vw;
    flex-wrap: nowrap;


}

.burger-menu {
    font-size: 16px;
    
}

.banner {
    width: 100vw;

}


/* MAIN */

.aprende-sin-limites {
    margin:10px;
    text-align: center;
    color: #193669;

}

.parrafo {
    margin:10px;
    text-align: center;
}


.centrado-gratis-descuento {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    
}
.unite-gratis {
    color: white;
    background-color: #193669;
    border-radius: 3px;
    padding: 9px;
}

.descuentos {
    color: white;
    background-color:#193669;
    border-radius: 3px;
    padding: 9px;
}

article {
    display: flex;
}

.foto-articulo {
    width: 100vw;

}
.ruta-de-cursos {
    text-align: center;
    color: #193669;
    ;
}

.cursos {
    flex-direction: column;
    align-items: center;

}
.imgRuta {
    display: block;
    padding: 10px;
    width: 60vw;
    
}

.VER-CURSOS{
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    background-color: #193669;
    color: white;
    
    
}

h2 {
    text-align: center;
    margin: 20px;
    margin-top: 10vw;
    color: #193669;

}

.colaboraciones {
    text-align: center;
    margin-bottom: 5vw
}

.tres-alumnos {
    display: flex;
    justify-content: space-around;
}

.frase-alumno {
    height: 40vw;
    margin: 10px;
    width: 30vw;
}

.alumnos {
    display: flex;
    flex-direction: row;
}






/* MEDIA QUIERIES */
@media (min-width: 415px) {
    .flex-centrado-rutas {
        display: flex;
        flex-direction:inherit;
    
    }

    .burger-menu {
        display: none;

    }


    

}

@media (min-width: 769px){

    .burger-menu {
        display: none;
    }

}