* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    /* padding: 10px; */
    font-size: 12px;
    background-color: #FFFFFF;
}

/* headeer */

.logo {
    margin: 10px;
    width: 10vw;
}

.flex-centrado-rutas {
    display: flex;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /* margin: 80px;
    margin-top: -30px;
    margin-bottom: 30px; */
    margin-top: 20px;
    justify-content: space-between;
}

nav {
    font-size: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

/* BURGER MENU */
.toggle-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 15px;
    cursor: pointer;
    z-index: 1;
}

ul li {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1vw;
    font-size: 1.1vw;
    flex-wrap: nowrap;
}


.encabezado {
    display: flex;
}

.header-menu {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
    transform: translateY(-100%);

}

.header-menu-item {
    margin-top: 10px;

}

.header-menu-link {
    text-transform: uppercase;
    text-decoration: none;
}

.header-menu--show {
    transform: translateY(0);
}

.burger-menu {
    font-size: 16px;
}

.banner {
    width: 100vw;
    max-width: 100vw;
    margin: 0px;
    padding: 0px;

}


/* MAIN */

.aprende-sin-limites {
    margin:10px;
    text-align: center;
    color: #193669;

}

.parrafo {
    margin:10px;
    text-align: center;
}


.centrado-gratis-descuento {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    
}
.unite-gratis {
    color: white;
    background-color: #193669;
    border-radius: 3px;
    padding: 9px;
    transition: background-color 450ms;
}

.unite-gratis:hover {
    background-color: #b458c7;
}

.descuentos {
    color: white;
    background-color:#193669;
    border-radius: 3px;
    padding: 9px;
    transition: background-color 450ms;
}

.descuentos:hover {
    background-color: #b458c7;
}

article {
    display: flex;
    margin: 15px;
}

.titulo-aprende {
    align-items: center;
}

.foto-articulo {
    width: 100%;
    margin-top: 30px;

}
.ruta-de-cursos {
    text-align: center;
    color: #193669;
    ;
}

.cursos {
    flex-direction: column;
    align-items: center;
}

.imgRuta {
    display: block;
    padding: 10px;
    width: 70vw;
}

.VER-CURSOS{
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    background-color: #193669;
    color: white;
    transition: background-color 450ms;  
}

.VER-CURSOS:hover {
    background-color: #b458c7;
}

h2 {
    text-align: center;
    margin: 20px;
    margin-top: 10vw;
    color: #193669;

}

.colaboraciones {
    text-align: center;
    margin-bottom: 5vw
}

.tres-alumnos {
    display: flex;
    justify-content: space-around;
}

.frase-alumno {
    /* height: 40vw; */
    margin: 15px;
    width: 25vw;
}

.alumnos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;
}






/* MEDIA QUIERIES */
@media (min-width: 415px) {
    .flex-centrado-rutas {
        display: flex;
        flex-direction:inherit;
    
    }

    .burger-menu {
        display: none;

    }


    

}

@media screen and (min-width: 769px){
    .header-menu {
        flex-direction: row;
    }

    .toggle-menu {
        display: none;
    }


} 