* {
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

.logo {
    margin-left: 15px;
    margin-top: 5px;
    /*width: 10vw;*/
    
}
.flex-centrado-rutas {
    display: flex;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /*margin-top: 20px;*/
    justify-content: space-between;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    font-size: 1rem;
}

i{
    margin: 10px;
    justify-content: center;
    font-size: 20px;
    align-self: center;
}

p{
    margin: 10px;
    justify-content: center;
    font-size: 30px;
    align-self: center;
}
nav {
    font-size: 1rem;
}

ul li {
    max-width: max-content;
    align-items: center;
    text-align: center;
    margin: 5px;
    flex-wrap: nowrap;
}

ul li i {
    margin: 10px;
}
.toggle-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 15px;
    cursor: pointer;
    z-index: 1;
}

a {
    color: black;
    text-decoration: none;
}

article {
    justify-content: center;
}

section {
    justify-content: center;
    
}

article div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.numero, .titulo, h3 {
    color: #193669;
}

.titulo {
    font-size: 30px;
    align-self: center;
}
.numero {
    padding: 20px;
    font-size: 50px;
}


.header-menu-link {
    text-transform: uppercase;
    text-decoration: none;
}

.encabezado {
    display: flex;
}


.burger-menu {  
    font-size: 16;
    color: white;
    background-color: #193669;
    border-radius: 3px;
    padding: 9px;
}

@media(min-width: 415px) { 

    .descripcion {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    flex-centrado-rutas {
        display: none;
    }

    .burger-menu{
        display: block;
        align-items: center;
    }

    .contenedor-ruta-del-curso {
        flex-direction: row;
        align-items: center;
    }

    
}

@media (min-width: 769px){

    .burger-menu {
        display: none;
    }

    .navegacion {
        font-size: 15px;
    }

    .flex-centrado-rutas {
        display: flex;
        flex-direction: row;
     }

    .header-nav {
        display: flex;
    }
}