main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 150px;
    padding-bottom: 50px;
  }
  main section#product-list {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 20px;
  }
  main section#product-list .list {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  main section#product-list .product-header {
    width: 100%;
    display: none;
  }
  main section#product-list article.product {
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(180deg, rgba(0,0,0,1) 18%, rgb(1, 65, 93) 100%, rgba(0,0,0,0.7035189075630253) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
  }
  main section#product-list article.product .image-container {
    width: 50%;
    position: relative;
  }
  main section#product-list article.product .image-container img {
    width: 100%;
    border-radius: 10px;
  }
  main section#product-list article.product .propiedades-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  main section#product-list article.product .propiedades-container .propiedad-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-size: 14px;
  }
  main section#product-list article.product .propiedades-container .nombre-producto {
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: #0093d7;
  }
  main section#product-list article.product .propiedades-container button.delete-item {
    width: 50%;
    border-radius: 10px;
    background-color: #0093d7;
    padding: 6px;
    text-align: center;
    font-size: 12px;
  }
  main #total-kart {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    border: #0093d7 4px solid;
    width: 90%;
    align-items: center;
    padding: 20px;
  }
  main #total-kart h3 {
    font-size: 30px;
  }
  main #total-kart .details-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: #0093d78e;
  }
  main #total-kart #finaliza-button {
    width: 50%;
    border-radius: 10px;
    background-color: #0093d7;
    padding: 12px;
    text-align: center;
    font-size: 12px;
  }
  @media (min-width: 1024px) {
    main section#product-list article.product {
      justify-content: space-between;
      width: 100%;
      height: 100px;
    }
    main section#product-list article.product .propiedades-container {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
    main section#product-list article.product .propiedades-container .propiedad-container {
      padding: 8px;
      width: 1/6;
    }
    main section#product-list article.product .image-container {
      height: 100%;
      width: auto;
      position: relative;
    }
    main section#product-list article.product .image-container img {
      height: 100%;
      width: auto;
    }
    main section#product-list article.product .propiedades-container button.delete-item {
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }
    main section#product-list .product-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
    }
    main #total-kart {
      width: 50%;
    }
    main #total-kart h3 {
      font-size: 45px;
      
    }
    main #total-kart .details-container {
      width: 80%;
    }
  }