* {
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.contenedor {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.campos {
    text-align: center;
}

.separador {
    padding: 20px;
}

.botonesForm {
    color: white;
    background-color: #193669;
    border-radius: 3px;
    padding: 9px;
    transition: background-color 450ms;
}

.botonesForm:hover {
    background-color: #b458c7;
}

.botones-del-form {
    display: flex;
    text-align: center;
    justify-content: center;
}

.campos-usuario {
    text-align: center;
    justify-content: center;
}



