<!-- HOME -->

<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head.ejs') %>

</head>


<body>

    <header>

        <%- include('./partials/header.ejs') %>

    </header>

    <main>
        <article class="aprende-y-articulo">

            
            <div class="titulo-aprende">
            <h2 class="aprende-sin-limites">APRENDE SIN LIMITES</h2>
            

            <P class="parrafo">Comienza, transforma o impulsa tu carrera profesional con más de 5000 cursos, certificados profesionales y títulos de grado de universidades y empresas de nivel mundial.</P>
           
            <nav>
                <ul class="centrado-gratis-descuento">
                    <li><a href="/register"><p class="unite-gratis"> Unete De Forma Gratuita</p></a></li>
                    <li><a href=""><p class="descuentos">Consulta Por Tus Descuentos</p></a></li>
                </ul>
                
            </nav>
            </div>

            <div class="foto-articulo">
                 <img src="/img/15-05-22 Gerenciarte 02.jpg" alt="foto" width="100%">
            </div>

        </article>


        <section>

        <div class="ruta-de-cursos">
            <h2>Ruta De Cursos</h2>
        </div>

        <article class="cursos">
            
            <div class="imgRuta">
                <a href='/productDetail'><img src="/img/Ruta.jpg" alt="curso foto" width="100%"></a>
            </div>
            
         <div>
            <a class="VER-CURSOS" href="/products/">Ver Cursos</a>
        </div>
        </article>    

        </section>

    </main>

    <footer>

        <%- include('./partials/footer.ejs') %>

    </footer>
</body>
</html>

