<!-- FORMULARIO DE INSCRIPCIÓN -->

<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs') %>
  <link href="/css/formularios.css" rel="stylesheet">

</head>


<body>

    <header>

      <%- include('../partials/header.ejs') %>

    </header>

    <main>

      <!-- FORMULARIO DE LOGIN -->
      <form action="/login" method="POST">
          <!-- <form action="/" method="GET"> -->

          <h2>Ingresa</h2>

          <!-- EMAIL -->
          <div>
              <label for="email" class="etiqueta">Email: </label>
              <input type = "email" name="email" id="email" placeholder="usuario@abc.com" required class="campo-de-texto">
              <span class="feedback"></span> <!-- para alertar errores -->
          </div>

          <!-- CONTRASEÑA -->
          <div>
              <label class="etiqueta"> Contraseña: </label>
              <input type = "password" name = "password" placeholder="Ingresa tu contraseña" required class="campo-de-texto">
              <span class="feedback"></span> 
          </div>

          <!-- BOTON BORRAR -->
          <button type="reset">Borrar</button>

          <!-- BOTON ENVIAR -->
          <button type="submit">Enviar</button>
          
          <!-- <button type="submit" value="Enviar" name="submit">Enviar</button> -->
      
      </form>

    </main>

  <footer>

    <%- include('../partials/footer.ejs') %>
    
  </footer>
</body>
</html>
        
        