<!-- EDITAR PRODUCTOS -->

<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs') %>
  <link href="css/formularios.css" rel="stylesheet">

</head>


<body>

    <header>

      <%- include('../partials/header.ejs') %>

    </header>

    <main>

      <h2>Editar productos</h2>

      <!-- FORMULARIO DEL EDIT PRODUCTS -->

      <form action="/productDetail" method="POST" >

  
        
        <label>Nombre del producto:</label>
        <input type = "text" name="name">

        <label>Descripcion:</label>
        <input type="text" name="description">

        <label>Imagen:</label>
        <input type="file" name="image">

        <label>Categoria:</label>
        <input type="text" name="category">

        <label>Colores:</label>
        <input type="text" name="color">

        <label>Precio:</label>
        <input type="text" name="price">

        <button type="submit">Guardar</button>

      </form>
   
    </main>

  <footer>

    <%- include('../partials/footer.ejs') %>
    
  </footer>
</body>
</html>
        
        