<!-- DETALLE DEL PRODUCTO -->
<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head.ejs') %>

    <link href="../css/productDetail.css" rel="stylesheet">

</head>
<body>

    <header>

        <%- include('../partials/header.ejs') %>
    
    </header>


<!-- MAIN -->

    <main>

        <h2>RUTA DE APRENDIZAJE</h2> <!-- RUTA -->

        <!--recorrer el product con forEach()-->
        <% for (let i=0; i<4; i++){ %>
            products
        <% } %>
          
    </main>
    
    <!-- /MAIN -->
    
    <footer>

        <%- include('../partials/footer.ejs') %>
    
    </footer>
</body>
</html>